body {
  background-color: #f4f6f8;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1100px;
}

table {
  background-color: #fff;
}

th {
  background-color: #0d6efd;
  color: white;
  text-align: center;
}

form {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

input {
  height: 45px;
}

.text-danger {
  font-size: 14px;
}
